<!DOCTYPE html>
<html>
<head>
    <title>NAYEL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>NAYEL</h2>
    <div>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/about">About</a>
        <a href="https://www.instagram.com/nayel__official" target="_blank">📸 Instagram</a>
        <a href="/login">Login</a>
    </div>
</nav>

<div class="hero">
    <div>
        <h1>NAYEL</h1>
        <p>Elegance in Every Detail</p>
        <a href="/shop"><button>Explore Collection</button></a>
    </div>
</div>

<!-- Connect Section -->
<div style="text-align:center; padding:40px;">
    <h2>Connect With Us</h2>

    <a href="https://www.instagram.com/nayel__official" target="_blank">
        <button>📸 Instagram</button>
    </a>

    <a href="https://wa.me/919148406241" target="_blank">
        <button>💬 WhatsApp</button>
    </a>

    <p style="margin-top:20px;">
        📧 <a href="mailto:nayel.official.0005@gmail.com" style="color:gold;">
        nayel.official.0005@gmail.com
        </a>
    </p>
</div>

<!-- Floating WhatsApp -->
<a href="https://wa.me/919148406241" class="whatsapp">💬</a>

<footer>
    © 2026 Namitha Enterprises. All rights reserved.<br><br>
    📧 <a href="mailto:nayel.official.0005@gmail.com" style="color:gold;">
    nayel.official.0005@gmail.com
    </a>
</footer>

</body>
</html>